In [1]:
#Import libraries
import pandas as pd
import json
import numpy as np
from pandas.io.json import json_normalize
import glob

In [2]:
#Load PRRAH json files from globbing
json_prrah=glob.glob('PRRAH/PRRAH_*.json')

#Initialize list to append DataFrames to
prrah_list=[]

#Create empty master dataframe
prr_df=pd.DataFrame(columns=['zip','date','pr_ratio',])

#For loop to go through filenames
for filename in json_prrah:
    data = pd.read_json(filename)
    df1=pd.DataFrame(data['dataset_data']['data'],columns=['date','pr_ratio'])
    prrah_list.append(data)
    #pull in filename and use split
    file_str = filename.replace('_',' ').replace('.',' ').split()
    df1['zip'] = file_str[1]
    #concat DataFrames
    prr_df = pd.concat([prr_df,df1],axis=0,ignore_index=True)
    
prr_df

             date  pr_ratio    zip
0      2017-05-31     26.39  10001
1      2017-04-30     25.61  10001
2      2017-03-31     25.56  10001
3      2017-02-28     25.83  10001
4      2017-01-31     25.55  10001
5      2016-12-31     25.71  10001
6      2016-11-30     25.76  10001
7      2016-10-31     25.67  10001
8      2016-09-30     25.60  10001
9      2016-08-31     24.95  10001
10     2016-07-31     24.49  10001
11     2016-06-30     23.83  10001
12     2016-05-31     22.85  10001
13     2016-04-30     24.83  10001
14     2016-03-31     25.46  10001
15     2016-02-29     25.12  10001
16     2016-01-31     25.03  10001
17     2015-12-31     24.88  10001
18     2015-11-30     25.64  10001
19     2015-10-31     26.01  10001
20     2015-09-30     26.80  10001
21     2015-08-31     26.61  10001
22     2015-07-31     26.71  10001
23     2015-06-30     26.81  10001
24     2015-05-31     26.21  10001
25     2015-04-30     25.08  10001
26     2015-03-31     25.10  10001
27     2015-02-28     24.44  10001
28     2015-01-31     24.23  10001
29     2014-12-31     24.20  10001
...           ...       ...    ...
11787  2013-03-31     29.46  11694
11788  2013-02-28     30.55  11694
11789  2013-01-31     30.87  11694
11790  2012-12-31     30.37  11694
11791  2012-11-30     30.70  11694
11792  2012-10-31     30.83  11694
11793  2012-09-30     30.82  11694
11794  2012-08-31     30.91  11694
11795  2012-07-31     30.61  11694
11796  2012-06-30     30.58  11694
11797  2012-05-31     30.81  11694
11798  2012-04-30     30.94  11694
11799  2012-03-31     30.97  11694
11800  2012-02-29     30.81  11694
11801  2012-01-31     30.83  11694
11802  2011-12-31     30.96  11694
11803  2011-11-30     31.05  11694
11804  2011-10-31     31.44  11694
11805  2011-09-30     31.62  11694
11806  2011-08-31     31.63  11694
11807  2011-07-31     31.35  11694
11808  2011-06-30     31.59  11694
11809  2011-05-31     31.71  11694
11810  2011-04-30     32.05  11694
11811  2011-03-31     32.36  11694
11812  2011-02-28     32.32  11694
11813  2011-01-31     32.86  11694
11814  2010-12-31     32.99  11694
11815  2010-11-30     33.06  11694
11816  2010-10-31     33.14  11694

[11817 rows x 3 columns]

In [3]:
#Load Median Listing Price json files from globbing
json_mlpah=glob.glob('MLPAH/MLPAH_*.json')

#Initialize list to append DataFrames to
mlpah_list=[]

#Create empty master dataframe
mlp_df=pd.DataFrame(columns=['zip','date','median_list_price'])

#For loop to go through filenames
for filename in json_mlpah:
    data = pd.read_json(filename)
    df1=pd.DataFrame(data['dataset_data']['data'],columns=['date','median_list_price'])
    mlpah_list.append(data)
    #pull in filename and use split
    file_str = filename.replace('_',' ').replace('.',' ').split()
    df1['zip'] = file_str[1]
    #concat DataFrames
    mlp_df = pd.concat([mlp_df,df1],axis=0,ignore_index=True)
    
mlp_df

            date  median_list_price    zip
0     2018-01-31          3300000.0  10001
1     2017-12-31          3110000.0  10001
2     2017-11-30          2985000.0  10001
3     2017-10-31          2990000.0  10001
4     2017-09-30          3000000.0  10001
5     2017-08-31          3050000.0  10001
6     2017-07-31          3075000.0  10001
7     2017-06-30          2997500.0  10001
8     2017-05-31          2820000.0  10001
9     2017-04-30          2922500.0  10001
10    2017-03-31          2895000.0  10001
11    2017-02-28          3015000.0  10001
12    2017-01-31          3500000.0  10001
13    2016-12-31          3285000.0  10001
14    2016-11-30          3150000.0  10001
15    2018-01-31          1630000.0  10002
16    2017-12-31          1630000.0  10002
17    2017-11-30          1665500.0  10002
18    2017-10-31          1605000.0  10002
19    2017-09-30          1612000.0  10002
20    2017-08-31          1580000.0  10002
21    2017-07-31          1577500.0  10002
22    2017-06-30          1575000.0  10002
23    2017-05-31          1575000.0  10002
24    2017-04-30          1600000.0  10002
25    2017-03-31          1573000.0  10002
26    2017-02-28          1551000.0  10002
27    2017-01-31          1515000.0  10002
28    2016-12-31          1427500.0  10002
29    2016-11-30          1430000.0  10002
...          ...                ...    ...
6817  2016-10-31           399000.0  11693
6818  2016-09-30           399000.0  11693
6819  2016-08-31           379000.0  11693
6820  2016-07-31           375000.0  11693
6821  2016-06-30           369000.0  11693
6822  2018-01-31           532000.0  11694
6823  2017-12-31           532000.0  11694
6824  2017-11-30           454500.0  11694
6825  2017-10-31           519000.0  11694
6826  2017-09-30           584000.0  11694
6827  2017-08-31           599000.0  11694
6828  2017-07-31           607000.0  11694
6829  2017-06-30           635250.0  11694
6830  2017-05-31           607000.0  11694
6831  2017-04-30           619000.0  11694
6832  2017-03-31           597000.0  11694
6833  2017-02-28           599000.0  11694
6834  2017-01-31           629000.0  11694
6835  2016-12-31           675000.0  11694
6836  2016-11-30           687000.0  11694
6837  2016-10-31           725000.0  11694
6838  2016-09-30           699000.0  11694
6839  2016-08-31           687000.0  11694
6840  2016-07-31           687000.0  11694
6841  2016-06-30           719950.0  11694
6842  2016-05-31           699000.0  11694
6843  2016-04-30           699000.0  11694
6844  2016-03-31           625000.0  11694
6845  2016-02-29           615000.0  11694
6846  2016-01-31           699000.0  11694

[6847 rows x 3 columns]

In [4]:
#Load Airbnb Listing csv files from globbing
csv_listings=glob.glob('Airbnb_data/listings_*.csv')

#Create empty master dataframe
abnb_df=pd.DataFrame(columns=['id'])

# #For loop to go through filenames
for filename in csv_listings:
    data = pd.read_csv(filename,low_memory=False,dtype={"id": int, "listing_url": str, "scrape_id": int,"name": str,"summary":str,"space":str,"description":str ,"experiences_offered":str,"neighborhood_overview":str,"notes":str,"has_availability":str,"reviews_per_month":float})
    df1 = data[['id','availability_30','zipcode']]
    file_str = filename.replace('_',' ').replace('.',' ').split()
    scrape_date = file_str[2]
    df1.rename(columns={"availability_30": scrape_date},inplace=True)
    #merge DataFrames on id# of listing
    abnb_df = pd.merge(left=df1,right=abnb_df, on='id', how='outer')

abnb_df

# #Load Airbnb listings data
# listings_201710 = pd.read_csv('Airbnb_data/listings_20171002.csv',dtype={"id": int, "listing_url": str, "scrape_id": int,"name": str,"summary":str,"space":str,"description":str ,"experiences_offered":str,"neighborhood_overview":str,"notes":str,"has_availability":str,"availability_30":int,"availability_60":int,"availability_90":int,"availability_365":int,"cancellation_policy":str,"require_guest_profile_picture":str,"require_guest_phone_verification":str,"calculated_host_listings_count":int,"reviews_per_month":float
# })
# listings_201710.head()

#Column names to specify: id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month

# OLD CODE
# airbnb_df = listings[['zipcode','id','last_scraped','host_id','host_name','host_since','host_location','host_response_time','host_response_rate','host_is_superhost','smart_location','latitude','longitude','is_location_exact','property_type','room_type','accommodates','bathrooms','bedrooms','beds','bed_type','amenities','price','weekly_price','monthly_price']]
# list_check=listings[['has_availability','availability_30','availability_60','availability_90','availability_365']]
# unavail = list_check['has_availability']=='f'
# list_check[unavail]
# END OLD CODE

/Users/Administrator/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

,id,20171002,zipcode_x,20170902,zipcode_y,20170802,zipcode_x,20170702,zipcode_y,20170602,...,20150801,zipcode_y,20150601,zipcode_x,20150501,zipcode_y,20150301,zipcode_x,20150101,zipcode_y
0,18461891,0.0,11105,0.0,11105,0.0,11105,0.0,11105,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20702398,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6627449,28.0,10464,17.0,10464,13.0,10464,20.0,10464,20.0,...,6.0,10464,28.0,10464,NaN,NaN,NaN,NaN,NaN,NaN
3,19949243,30.0,10464,29.0,10464,30.0,10464,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1886820,30.0,10464,30.0,10464,30.0,10464,30.0,10464,30.0,...,0.0,10464,0.0,10464,0.0,10464,30.0,10464,30.0,10464
5,5557381,0.0,10464,0.0,10464,2.0,10464,27.0,10464,10.0,...,16.0,10464,24.0,10464,NaN,NaN,NaN,NaN,NaN,NaN
6,19609887,24.0,10464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7949480,29.0,10464,19.0,10464,26.0,10464,23.0,10464,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,21057372,29.0,10464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,16042478,30.0,10464,30.0,10464,30.0,10464,30.0,10464,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9147025,18.0,10464,24.0,10464,26.0,10464,17.0,10464,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1936633,0.0,10464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.0,10464,NaN,NaN,27.0,10464
12,19758402,19.0,10464,26.0,10464,14.0,10464,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,11675715,12.0,10464,9.0,10464,12.0,10464,4.0,10464,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3400359,14.0,10469,13.0,10469,12.0,10469,19.0,10469,10.0,...,3.0,10469,7.0,10469,13.0,10469,30.0,10469,20.0,10469
15,4407790,17.0,10469,3.0,10469,NaN,NaN,0.0,10469,9.0,...,5.0,10469,7.0,10469,9.0,10469,21.0,10469,8.0,10469
16,715270,19.0,10467,9.0,10467,14.0,10467,22.0,10467,7.0,...,NaN,NaN,NaN,NaN,3.0,10467,NaN,NaN,22.0,10467
17,18852048,0.0,10467,0.0,10467,0.0,10467,0.0,10467,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,759901,6.0,10469,1.0,10469,0.0,10469,12.0,10469,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,10469,0.0,10469
19,13864221,0.0,10469,0.0,10469,0.0,10469,0.0,10469,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,12496118,16.0,10469,5.0,10469,13.0,10469,22.0,10469,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,13109017,25.0,10467,17.0,10467,28.0,10467,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,9513511,29.0,10462,13.0,10462,19.0,10462,13.0,10462,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,19174868,30.0,10467,30.0,10467,30.0,10467,30.0,10467,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,10801360,30.0,10467,30.0,10467,30.0,10467,30.0,10467,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,8294259,20.0,10469,19.0,10469,27.0,10469,7.0,10469,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,182177,10.0,10469,15.0,10469,9.0,10469,6.0,10469,2.0,...,18.0,10469,8.0,10469,11.0,10469,15.0,10469,24.0,10469
27,17876530,20.0,10469,16.0,10469,20.0,10469,25.0,10469,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,5046189,16.0,10469,27.0,10469,19.0,10469,24.0,10469,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,13.0,10469,NaN,NaN
29,773041,8.0,10467,6.0,10467,10.0,10467,15.0,10467,8.0,...,16.0,10467,4.0,10467,6.0,10467,18.0,10467,26.0,10467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125429,3898591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10029
125430,1999858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,10038
125431,4284316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,10035
125432,4190919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,10010
125433,4700850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,11225
125434,3915393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10027
125435,3896628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,10012
125436,4439902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,11213
125437,4556238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,10031
125438,4848110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,10027
125439,2083972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,10011
125440,4257251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,10009
125441,523629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,11211
125442,4587210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10017
125443,2686444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,10003
125444,879282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,10025
125445,1860178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,10013
125446,4270999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,10019
125447,15639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11233
125448,747460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,10036
125449,1094699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,11215
125450,561851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,11211
125451,519133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,11211
125452,1355058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,10011
125453,744930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,11237
125454,149823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,10065
125455,537685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,11211
125456,304484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,11211
125457,196499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,11211
125458,78232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11213

In [9]:
#Empty Master DataFrame
airbnb_df=pd.DataFrame(columns=['id','zipcode','date_zip','availability_30'])

#Need to put in tidy data form
for filename in csv_listings:
    data = pd.read_csv(filename,low_memory=False,dtype={"id": int, "listing_url": str, "scrape_id": int,"name": str,"summary":str,"space":str,"description":str ,"experiences_offered":str,"neighborhood_overview":str,"notes":str,"has_availability":str,"reviews_per_month":float})
    df1 = data[['id','availability_30','zipcode']]
    file_str = filename.replace('_',' ').replace('.',' ').split()
    scrape_date = file_str[2]
    df1['date_zip'] = scrape_date + '-' + df1['zipcode'] 
    #merge DataFrames on id# of listing
    airbnb_df = pd.concat([airbnb_df,df1],axis=0,ignore_index=True)
    
airbnb_df

/Users/Administrator/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

        availability_30        date_zip        id zipcode
0                    21  20150101-10022   1069266   10022
1                    28             NaN   1846722     NaN
2                     4  20150101-11221   2061725   11221
3                     1  20150101-10011     44974   10011
4                    30  20150101-10011   4701675   10011
5                    11  20150101-11231     68914   11231
6                    29  20150101-11207   4832596   11207
7                     5  20150101-10013   2562510   10013
8                    30  20150101-10003   3005360   10003
9                     0  20150101-11221   2431607   11221
10                    0  20150101-11217   1322641   11217
11                    2  20150101-11221   4833061   11221
12                   30  20150101-10018    234327   10018
13                   29  20150101-11213   2000287   11213
14                   30  20150101-10019   2525956   10019
15                    4  20150101-10014    809929   10014
16                   30  20150101-10003    753622   10003
17                   30  20150101-10040   1781041   10040
18                   30  20150101-10033   4060165   10033
19                   14  20150101-11238   4323940   11238
20                    0  20150101-10038   1832976   10038
21                    6  20150101-10027   4218098   10027
22                    1  20150101-11222   4053471   11222
23                    2  20150101-11206   4831993   11206
24                   12  20150101-10025   2596813   10025
25                    2  20150101-10013   4810267   10013
26                    3  20150101-10030    312664   10030
27                   30  20150101-10035   4358437   10035
28                   29  20150101-10003     26229   10003
29                    0  20150101-10013   2993952   10013
...                 ...             ...       ...     ...
1095651              29  20171002-11211  13895156   11211
1095652               0  20171002-11211   9831813   11211
1095653               0  20171002-11206   3278530   11206
1095654               0  20171002-11249  20842166   11249
1095655               0  20171002-11206  11929230   11206
1095656               0  20171002-11211    132695   11211
1095657              18  20171002-11206  13762797   11206
1095658               0  20171002-11375  20017291   11375
1095659              19  20171002-10467  20212233   10467
1095660               4  20171002-07302  20680848   07302
1095661              22  20171002-11207  20271320   11207
1095662              30  20171002-10550  20309054   10550
1095663               6  20171002-10025   1960594   10025
1095664              28  20171002-11694  20464397   11694
1095665              21  20171002-11509  20417586   11509
1095666               0  20171002-10029  21158729   10029
1095667               0  20171002-11004   3441311   11004
1095668              25  20171002-10307  20828667   10307
1095669               0  20171002-10026  20254204   10026
1095670              25  20171002-11234  18507240   11234
1095671               1  20171002-11221   3928270   11221
1095672              10  20171002-10029  21152592   10029
1095673              19  20171002-11234  15249726   11234
1095674               0  20171002-10282  21024340   10282
1095675              26  20171002-10550  13234041   10550
1095676              30  20171002-11234  20530309   11234
1095677               4  20171002-11207  20459907   11207
1095678               1  20171002-11694   4287386   11694
1095679               7  20171002-11580  20939747   11580
1095680              17             NaN  21135710     NaN

[1095681 rows x 4 columns]