In [1]:
%matplotlib inline

import pandas as pd
import json
import numpy as np
from pandas.io.json import json_normalize
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

In [2]:
#Read in CSV data files

airbnb = pd.read_csv('zip_clean.csv',index_col=0)
bydz_availcount = pd.read_csv('bydz_availcount.csv',header=None)
bydz_availcount.columns=['date_zip','avail_count']
bydzrt_roomcount = pd.read_csv('bydzrt_roomcount.csv',header=None)
bydzrt_roomcount.columns=['date_zip','room_type','date','bydzrt_count']
prr_df = pd.read_csv('prr_df.csv',index_col=0)
mlp_df = pd.read_csv('mlp_df.csv',index_col=0)
air_zillow = pd.read_csv('airzillow_df.csv', index_col=0)
airbnb15 = pd.read_csv('airbnb15.csv',index_col=0)
airbnb16 = pd.read_csv('airbnb16.csv',index_col=0)
airbnb17 = pd.read_csv('airbnb17.csv',index_col=0)
airbnb17_count = pd.read_csv('airbnb17_count.csv',index_col=0)
airbnb17_countavg = pd.read_csv('airbnb17_countavg.csv',index_col=0)
topzip17 = pd.read_csv('topzip17.csv',index_col=0)
norm17 = pd.read_csv('norm17.csv',index_col=0)

/Users/Administrator/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
airbnb.head()

,accommodates,availability_30,date,date_zip,id,month,price,property_type,room_type,year,zipcode
0,2.0,21.0,2015-01-01,201501_10022,1069266,1,160.0,Apartment,Entire home/apt,2015,10022
2,2.0,4.0,2015-01-01,201501_11221,2061725,1,58.0,Apartment,Private room,2015,11221
3,2.0,1.0,2015-01-01,201501_10011,44974,1,185.0,Apartment,Entire home/apt,2015,10011
4,2.0,30.0,2015-01-01,201501_10011,4701675,1,195.0,Apartment,Entire home/apt,2015,10011
5,6.0,11.0,2015-01-01,201501_11231,68914,1,165.0,Apartment,Entire home/apt,2015,11231