In [1]:
#Import libraries
import pandas as pd
import json
import numpy as np
from pandas.io.json import json_normalize
import glob

In [8]:
#Load PRRAH json files from globbing
json_prrah=glob.glob('PRRAH/PRRAH_*.json')

#Initialize list to append DataFrames to
prrah_list=[]

#Create empty master dataframe
prr_df=pd.DataFrame(columns=['zip','date','pr_ratio',])

#For loop to go through filenames
for filename in json_prrah:
    data = pd.read_json(filename)
    df1=pd.DataFrame(data['dataset_data']['data'],columns=['date','pr_ratio'])
    prrah_list.append(data)
    #pull in filename and use split
    file_str = filename.replace('_',' ').replace('.',' ').split()
    df1['zip'] = file_str[1]
    #concat DataFrames
    prr_df = pd.concat([prr_df,df1],axis=0,ignore_index=True)
    
# #Convert date to datetime
# prr_df.date = pd.to_datetime(prr_df.date, format='%Y-%m')

#Create zip_date
prr_df['date_zip'] = prr_df['date'] + '_' + prr_df['zip']

prr_df

             date  pr_ratio    zip          date_zip
0      2017-05-31     26.39  10001  2017-05-31_10001
1      2017-04-30     25.61  10001  2017-04-30_10001
2      2017-03-31     25.56  10001  2017-03-31_10001
3      2017-02-28     25.83  10001  2017-02-28_10001
4      2017-01-31     25.55  10001  2017-01-31_10001
5      2016-12-31     25.71  10001  2016-12-31_10001
6      2016-11-30     25.76  10001  2016-11-30_10001
7      2016-10-31     25.67  10001  2016-10-31_10001
8      2016-09-30     25.60  10001  2016-09-30_10001
9      2016-08-31     24.95  10001  2016-08-31_10001
10     2016-07-31     24.49  10001  2016-07-31_10001
11     2016-06-30     23.83  10001  2016-06-30_10001
12     2016-05-31     22.85  10001  2016-05-31_10001
13     2016-04-30     24.83  10001  2016-04-30_10001
14     2016-03-31     25.46  10001  2016-03-31_10001
15     2016-02-29     25.12  10001  2016-02-29_10001
16     2016-01-31     25.03  10001  2016-01-31_10001
17     2015-12-31     24.88  10001  2015-12-31_10001
18     2015-11-30     25.64  10001  2015-11-30_10001
19     2015-10-31     26.01  10001  2015-10-31_10001
20     2015-09-30     26.80  10001  2015-09-30_10001
21     2015-08-31     26.61  10001  2015-08-31_10001
22     2015-07-31     26.71  10001  2015-07-31_10001
23     2015-06-30     26.81  10001  2015-06-30_10001
24     2015-05-31     26.21  10001  2015-05-31_10001
25     2015-04-30     25.08  10001  2015-04-30_10001
26     2015-03-31     25.10  10001  2015-03-31_10001
27     2015-02-28     24.44  10001  2015-02-28_10001
28     2015-01-31     24.23  10001  2015-01-31_10001
29     2014-12-31     24.20  10001  2014-12-31_10001
...           ...       ...    ...               ...
11787  2013-03-31     29.46  11694  2013-03-31_11694
11788  2013-02-28     30.55  11694  2013-02-28_11694
11789  2013-01-31     30.87  11694  2013-01-31_11694
11790  2012-12-31     30.37  11694  2012-12-31_11694
11791  2012-11-30     30.70  11694  2012-11-30_11694
11792  2012-10-31     30.83  11694  2012-10-31_11694
11793  2012-09-30     30.82  11694  2012-09-30_11694
11794  2012-08-31     30.91  11694  2012-08-31_11694
11795  2012-07-31     30.61  11694  2012-07-31_11694
11796  2012-06-30     30.58  11694  2012-06-30_11694
11797  2012-05-31     30.81  11694  2012-05-31_11694
11798  2012-04-30     30.94  11694  2012-04-30_11694
11799  2012-03-31     30.97  11694  2012-03-31_11694
11800  2012-02-29     30.81  11694  2012-02-29_11694
11801  2012-01-31     30.83  11694  2012-01-31_11694
11802  2011-12-31     30.96  11694  2011-12-31_11694
11803  2011-11-30     31.05  11694  2011-11-30_11694
11804  2011-10-31     31.44  11694  2011-10-31_11694
11805  2011-09-30     31.62  11694  2011-09-30_11694
11806  2011-08-31     31.63  11694  2011-08-31_11694
11807  2011-07-31     31.35  11694  2011-07-31_11694
11808  2011-06-30     31.59  11694  2011-06-30_11694
11809  2011-05-31     31.71  11694  2011-05-31_11694
11810  2011-04-30     32.05  11694  2011-04-30_11694
11811  2011-03-31     32.36  11694  2011-03-31_11694
11812  2011-02-28     32.32  11694  2011-02-28_11694
11813  2011-01-31     32.86  11694  2011-01-31_11694
11814  2010-12-31     32.99  11694  2010-12-31_11694
11815  2010-11-30     33.06  11694  2010-11-30_11694
11816  2010-10-31     33.14  11694  2010-10-31_11694

[11817 rows x 4 columns]

In [10]:
#Load Median Listing Price json files from globbing
json_mlpah=glob.glob('MLPAH/MLPAH_*.json')

#Initialize list to append DataFrames to
mlpah_list=[]

#Create empty master dataframe
mlp_df=pd.DataFrame(columns=['zip','date','median_list_price'])

#For loop to go through filenames
for filename in json_mlpah:
    data = pd.read_json(filename)
    df1=pd.DataFrame(data['dataset_data']['data'],columns=['date','median_list_price'])
    mlpah_list.append(data)
    #pull in filename and use split
    file_str = filename.replace('_',' ').replace('.',' ').split()
    df1['zip'] = file_str[1]
    #concat DataFrames
    mlp_df = pd.concat([mlp_df,df1],axis=0,ignore_index=True)
    
# mlp_df.date = pd.to_datetime(mlp_df.date, format ='%Y-%m')
#Create zip_date
mlp_df['date_zip'] = mlp_df['date'] + '_' + prr_df['zip']

mlp_df

            date  median_list_price    zip          date_zip
0     2018-01-31          3300000.0  10001  2018-01-31_10001
1     2017-12-31          3110000.0  10001  2017-12-31_10001
2     2017-11-30          2985000.0  10001  2017-11-30_10001
3     2017-10-31          2990000.0  10001  2017-10-31_10001
4     2017-09-30          3000000.0  10001  2017-09-30_10001
5     2017-08-31          3050000.0  10001  2017-08-31_10001
6     2017-07-31          3075000.0  10001  2017-07-31_10001
7     2017-06-30          2997500.0  10001  2017-06-30_10001
8     2017-05-31          2820000.0  10001  2017-05-31_10001
9     2017-04-30          2922500.0  10001  2017-04-30_10001
10    2017-03-31          2895000.0  10001  2017-03-31_10001
11    2017-02-28          3015000.0  10001  2017-02-28_10001
12    2017-01-31          3500000.0  10001  2017-01-31_10001
13    2016-12-31          3285000.0  10001  2016-12-31_10001
14    2016-11-30          3150000.0  10001  2016-11-30_10001
15    2018-01-31          1630000.0  10002  2018-01-31_10001
16    2017-12-31          1630000.0  10002  2017-12-31_10001
17    2017-11-30          1665500.0  10002  2017-11-30_10001
18    2017-10-31          1605000.0  10002  2017-10-31_10001
19    2017-09-30          1612000.0  10002  2017-09-30_10001
20    2017-08-31          1580000.0  10002  2017-08-31_10001
21    2017-07-31          1577500.0  10002  2017-07-31_10001
22    2017-06-30          1575000.0  10002  2017-06-30_10001
23    2017-05-31          1575000.0  10002  2017-05-31_10001
24    2017-04-30          1600000.0  10002  2017-04-30_10001
25    2017-03-31          1573000.0  10002  2017-03-31_10001
26    2017-02-28          1551000.0  10002  2017-02-28_10001
27    2017-01-31          1515000.0  10002  2017-01-31_10001
28    2016-12-31          1427500.0  10002  2016-12-31_10001
29    2016-11-30          1430000.0  10002  2016-11-30_10001
...          ...                ...    ...               ...
6817  2016-10-31           399000.0  11693  2016-10-31_11224
6818  2016-09-30           399000.0  11693  2016-09-30_11224
6819  2016-08-31           379000.0  11693  2016-08-31_11224
6820  2016-07-31           375000.0  11693  2016-07-31_11224
6821  2016-06-30           369000.0  11693  2016-06-30_11224
6822  2018-01-31           532000.0  11694  2018-01-31_11224
6823  2017-12-31           532000.0  11694  2017-12-31_11224
6824  2017-11-30           454500.0  11694  2017-11-30_11224
6825  2017-10-31           519000.0  11694  2017-10-31_11224
6826  2017-09-30           584000.0  11694  2017-09-30_11224
6827  2017-08-31           599000.0  11694  2017-08-31_11224
6828  2017-07-31           607000.0  11694  2017-07-31_11224
6829  2017-06-30           635250.0  11694  2017-06-30_11224
6830  2017-05-31           607000.0  11694  2017-05-31_11224
6831  2017-04-30           619000.0  11694  2017-04-30_11224
6832  2017-03-31           597000.0  11694  2017-03-31_11224
6833  2017-02-28           599000.0  11694  2017-02-28_11224
6834  2017-01-31           629000.0  11694  2017-01-31_11224
6835  2016-12-31           675000.0  11694  2016-12-31_11224
6836  2016-11-30           687000.0  11694  2016-11-30_11224
6837  2016-10-31           725000.0  11694  2016-10-31_11224
6838  2016-09-30           699000.0  11694  2016-09-30_11224
6839  2016-08-31           687000.0  11694  2016-08-31_11224
6840  2016-07-31           687000.0  11694  2016-07-31_11224
6841  2016-06-30           719950.0  11694  2016-06-30_11224
6842  2016-05-31           699000.0  11694  2016-05-31_11224
6843  2016-04-30           699000.0  11694  2016-04-30_11224
6844  2016-03-31           625000.0  11694  2016-03-31_11224
6845  2016-02-29           615000.0  11694  2016-02-29_11224
6846  2016-01-31           699000.0  11694  2016-01-31_11224

[6847 rows x 4 columns]

In [11]:
#Load Airbnb Listing csv files from globbing
csv_listings=glob.glob('Airbnb_data/listings_*.csv')

#Create empty master dataframe
abnb_df=pd.DataFrame(columns=['id'])

# # #For loop to go through filenames
# for filename in csv_listings:
#     data = pd.read_csv(filename,low_memory=False,dtype={"id": int, "listing_url": str, "scrape_id": int,"name": str,"summary":str,"space":str,"description":str ,"experiences_offered":str,"neighborhood_overview":str,"notes":str,"has_availability":str,"reviews_per_month":float})
#     df1 = data[['id','availability_30','zipcode']]
#     file_str = filename.replace('_',' ').replace('.',' ').split()
#     scrape_date = file_str[2]
#     df1.rename(columns={"availability_30": scrape_date},inplace=True)
#     #merge DataFrames on id# of listing
#     abnb_df = pd.merge(left=df1,right=abnb_df, on='id', how='outer')

# abnb_df

# #Load Airbnb listings data
# listings_201710 = pd.read_csv('Airbnb_data/listings_20171002.csv',dtype={"id": int, "listing_url": str, "scrape_id": int,"name": str,"summary":str,"space":str,"description":str ,"experiences_offered":str,"neighborhood_overview":str,"notes":str,"has_availability":str,"availability_30":int,"availability_60":int,"availability_90":int,"availability_365":int,"cancellation_policy":str,"require_guest_profile_picture":str,"require_guest_phone_verification":str,"calculated_host_listings_count":int,"reviews_per_month":float
# })
# listings_201710.head()

#Column names to specify: id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month

# OLD CODE
# airbnb_df = listings[['zipcode','id','last_scraped','host_id','host_name','host_since','host_location','host_response_time','host_response_rate','host_is_superhost','smart_location','latitude','longitude','is_location_exact','property_type','room_type','accommodates','bathrooms','bedrooms','beds','bed_type','amenities','price','weekly_price','monthly_price']]
# list_check=listings[['has_availability','availability_30','availability_60','availability_90','availability_365']]
# unavail = list_check['has_availability']=='f'
# list_check[unavail]
# END OLD CODE

In [25]:
#Empty Master DataFrame
airbnb_df=pd.DataFrame(columns=['id','date','zipcode','date_zip','availability_30'])

#Need to put in tidy data form
for filename in csv_listings:
    data = pd.read_csv(filename,low_memory=False,dtype={"id": int, "listing_url": str, "scrape_id": int,"name": str,"summary":str,"space":str,"description":str ,"experiences_offered":str,"neighborhood_overview":str,"notes":str,"has_availability":str,"reviews_per_month":float})
    df1 = data[['id','availability_30','zipcode']]
    file_str = filename.replace('_',' ').replace('.',' ').split()
    scrape_date = file_str[2]
    df1['date'] = scrape_date
#     df1['date'] = pd.to_datetime(df1.date, format='%Y-%m')
    df1['date_zip'] = scrape_date + '_' + df1['zipcode'] 
    #merge DataFrames on id# of listing
    airbnb_df = pd.concat([airbnb_df,df1],axis=0,ignore_index=True)
    
# airbnb_df.info()
# airbnb_df.describe()
#Info shows 1095681 entries; for availability_30 column less than 1% missing; for zipcode less than 2% missing
#Therefore, acceptable to drop NAN
airbnb_clean = airbnb_df.dropna(axis=0,how='any')
# airbnb_clean.info()
# airbnb_clean.describe()

airbnb_clean['availability_30'] = pd.to_numeric(airbnb_clean.availability_30,errors='coerce')

airbnb_split = airbnb_clean.groupby('date_zip')
type(airbnb_split)

# airbnb_sum = airbnb_clean.groupby('date_zip')['availability_30' > 0].sum()


airbnb_counts = {datezip:group.loc[group['availability_30']>0,'id'].count()
                     for datezip,group in airbnb_split}

pd.Series(airbnb_counts)

/Users/Administrator/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/Administrator/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/Administrator/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2015-01-01_10001         297
2015-01-01_10002         902
2015-01-01_10003         718
2015-01-01_10003-6521      0
2015-01-01_10003-8623      1
2015-01-01_10004          44
2015-01-01_10005         111
2015-01-01_10006          62
2015-01-01_10007          31
2015-01-01_10009         817
2015-01-01_1001            1
2015-01-01_10010         255
2015-01-01_10011         668
2015-01-01_10012         559
2015-01-01_10013         344
2015-01-01_10014         609
2015-01-01_10016         425
2015-01-01_10017         130
2015-01-01_10018         171
2015-01-01_10019         611
2015-01-01_10021         152
2015-01-01_10022         171
2015-01-01_10023         283
2015-01-01_10024         300
2015-01-01_10025         478
2015-01-01_10026         230
2015-01-01_10027         407
2015-01-01_10028         217
2015-01-01_10029         370
2015-01-01_1003            1
                        ...
2017-10-02_11413          27
2017-10-02_11414           9
2017-10-02_11415          19
2017-10-02_11416          14
2017-10-02_11417          11
2017-10-02_11418          27
2017-10-02_11419          22
2017-10-02_11420          13
2017-10-02_11421          41
2017-10-02_11422          33
2017-10-02_11423           9
2017-10-02_11426           3
2017-10-02_11426-1175      1
2017-10-02_11427           6
2017-10-02_11428           5
2017-10-02_11429          18
2017-10-02_11432          28
2017-10-02_11433          11
2017-10-02_11434          96
2017-10-02_11435          25
2017-10-02_11436          21
2017-10-02_11509           1
2017-10-02_11580           1
2017-10-02_11691          35
2017-10-02_11692          57
2017-10-02_11693          34
2017-10-02_11694           6
2017-10-02_1m              1
2017-10-02_91766           1
2017-10-02_99135           1
Length: 6049, dtype: int64