In [1]:
%matplotlib inline

import pandas as pd
import json
import numpy as np
from pandas.io.json import json_normalize
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

In [2]:
#Read in CSV data files

airbnb = pd.read_csv('zip_clean.csv',index_col=0)
bydz_availcount = pd.read_csv('bydz_availcount.csv',header=None)
bydz_availcount.columns=['date_zip','avail_count']
bydzrt_roomcount = pd.read_csv('bydzrt_roomcount.csv',header=None)
bydzrt_roomcount.columns=['date_zip','room_type','date','bydzrt_count']
prr_df = pd.read_csv('prr_df.csv',index_col=0)
mlp_df = pd.read_csv('mlp_df.csv',index_col=0)
air_zillow = pd.read_csv('airzillow_df.csv', index_col=0)

In [3]:
data = pd.read_csv('Gaz_zcta_national.txt', sep="\t")
data.columns = ["zcta", "pop10", "hu10", "aland","awater","aland_sqmi","awater_sqmi","lat","long"]
data.head()

,zcta,pop10,hu10,aland,awater,aland_sqmi,awater_sqmi,lat,long
0,601,18570,7744,166659789,799296,64.348,0.309,18.180555,-66.749961
1,602,41520,18073,79288158,4446273,30.613,1.717,18.362268,-67.176130
2,603,54689,25653,81880442,183425,31.614,0.071,18.455183,-67.119887
3,606,6615,2877,109580061,12487,42.309,0.005,18.158345,-66.932911
4,610,29016,12618,93021467,4172001,35.916,1.611,18.290955,-67.125868

In [4]:
airbnb15 = airbnb.loc[airbnb['year'] == 2015]
airbnb15.to_csv('airbnb15.csv')
airbnb16 = airbnb.loc[airbnb['year'] == 2016]
airbnb16.to_csv('airbnb16.csv')
airbnb17 = airbnb.loc[airbnb['year'] == 2017]
airbnb17.to_csv('airbnb17.csv')

In [5]:
airbnb17_count = airbnb17[['id','date_zip','zipcode','month']].groupby(['date_zip','zipcode','month'], as_index=False).agg('count')
airbnb17_count = pd.merge(airbnb17_count, data[['zcta','pop10','lat','long']],how='left', left_on='zipcode', right_on='zcta')
airbnb17_count = airbnb17_count[['date_zip','zipcode','month','id','pop10','lat','long']]
airbnb17_count = airbnb17_count.rename(columns={'id': 'airbnb_count'})
airbnb17_count['norm_count'] = airbnb17_count['airbnb_count'].div(airbnb17_count['pop10'])
nullpop = airbnb17_count.loc[airbnb17_count['pop10']==0][['date_zip','zipcode','month','airbnb_count','pop10','lat','long']]
nullpop
airbnb17_count = airbnb17_count.loc[airbnb17_count['pop10']!=0]
airbnb17_count
airbnb17_count.to_csv('airbnb17_count.csv')

# print(type(airbnb17_count['zipcode']))
# print(type(data['zcta']))

In [6]:
airbnb17_countavg = airbnb17_count[['zipcode','airbnb_count','pop10','norm_count']].groupby(['zipcode'],as_index=False).agg('mean')
airbnb17_countavg.to_csv('airbnb17_countavg.csv')

In [7]:
sortnorm_17 = airbnb17_countavg.sort_values(by='norm_count',ascending=False)
topnorm_17 = sortnorm_17.loc[sortnorm_17['norm_count']>=0.01]
sortnorm_17

     zipcode  airbnb_count    pop10  norm_count
15     10018       179.600   5229.0    0.034347
10     10012       594.700  24090.0    0.024687
32     10036       598.300  24711.0    0.024212
106    11222       710.800  36934.0    0.019245
12     10014       574.300  31959.0    0.017970
121    11238       880.100  49262.0    0.017866
95     11211      1592.000  90117.0    0.017666
16     10019       725.800  42870.0    0.016930
100    11216       898.300  54316.0    0.016538
0      10001       338.800  21102.0    0.016055
5      10006        46.000   3011.0    0.015277
7      10009       927.500  61347.0    0.015119
2      10003       822.000  56024.0    0.014672
105    11221      1095.900  78895.0    0.013891
9      10011       677.200  50984.0    0.013283
120    11237       649.800  49896.0    0.013023
90     11206      1062.500  81677.0    0.013009
3      10004        39.900   3089.0    0.012917
89     11205       496.600  40366.0    0.012302
1      10002       982.200  81410.0    0.012065
11     10013       332.300  27700.0    0.011996
101    11217       422.600  35881.0    0.011778
4      10005        78.100   7135.0    0.010946
27     10031       605.900  56438.0    0.010736
22     10026       358.700  34003.0    0.010549
23     10027       616.600  59707.0    0.010327
26     10030       278.600  26999.0    0.010319
80     11101       246.700  25484.0    0.009681
99     11215       601.300  63488.0    0.009471
14     10017       152.900  16575.0    0.009225
..       ...           ...      ...         ...
88     11204        19.500  78134.0    0.000250
98     11214        21.800  88630.0    0.000246
78     10475         9.800  40931.0    0.000239
71     10468        18.100  76103.0    0.000238
75     10472        15.400  66358.0    0.000232
61     10458        17.600  79492.0    0.000221
63     10460        12.600  57311.0    0.000220
158    11423         6.300  29987.0    0.000210
161    11428         4.000  19168.0    0.000209
69     10466        13.800  67813.0    0.000204
160    11427         4.800  23593.0    0.000203
149    11414         5.300  26148.0    0.000203
62     10459         8.700  47308.0    0.000184
60     10457        12.900  70496.0    0.000183
73     10470         2.700  15293.0    0.000177
130    11363         1.125   6988.0    0.000161
47     10306         8.800  55909.0    0.000157
48     10307         2.200  14096.0    0.000156
68     10465         6.500  42230.0    0.000154
159    11426         2.700  17590.0    0.000153
79     11004         2.000  14016.0    0.000143
155    11420         6.300  44354.0    0.000142
129    11362         2.500  17823.0    0.000140
49     10308         3.800  27357.0    0.000139
43     10302         2.500  19088.0    0.000131
171    11694         2.600  20408.0    0.000127
52     10312         7.300  59304.0    0.000123
53     10314         8.700  85510.0    0.000102
125    11357         3.100  39150.0    0.000079
50     10309         1.000  32519.0    0.000031

[172 rows x 4 columns]

In [8]:
mlp_avg = mlp_df[['median_list_price','year','zip']].groupby(['zip','year'], as_index=False).agg('mean')
mlp_avg17 = mlp_avg[['median_list_price','year','zip']].loc[mlp_avg['year']==2017]
mlp_avg17

     median_list_price  year    zip
1         3.030000e+06  2017  10001
5         1.588250e+06  2017  10002
8         2.546750e+06  2017  10003
11        1.150167e+06  2017  10004
20        1.439875e+06  2017  10005
23        2.747083e+06  2017  10006
26        4.716831e+06  2017  10007
29        2.424167e+06  2017  10010
34        2.647498e+06  2017  10011
37        4.394583e+06  2017  10012
40        5.145223e+06  2017  10013
43        2.572812e+06  2017  10014
51        1.441167e+06  2017  10016
60        9.860417e+05  2017  10017
63        2.894375e+06  2017  10018
69        1.833241e+06  2017  10019
74        2.035083e+06  2017  10021
81        2.263750e+06  2017  10022
84        2.430000e+06  2017  10023
93        1.423417e+06  2017  10025
98        1.194625e+06  2017  10026
101       8.733542e+05  2017  10027
104       2.283750e+06  2017  10028
108       1.044721e+06  2017  10029
111       7.253750e+05  2017  10030
116       5.621250e+05  2017  10031
121       4.854125e+05  2017  10032
129       5.965000e+05  2017  10033
136       1.615042e+06  2017  10036
140       1.708906e+06  2017  10038
..                 ...   ...    ...
567       4.197787e+05  2017  11373
576       3.549094e+05  2017  11374
584       4.678665e+05  2017  11375
591       4.553750e+05  2017  11377
600       7.514953e+05  2017  11379
606       6.615417e+05  2017  11385
615       4.705899e+05  2017  11411
622       4.799163e+05  2017  11412
629       4.789539e+05  2017  11413
632       4.156666e+05  2017  11414
641       3.140428e+05  2017  11415
648       5.221667e+05  2017  11417
655       5.449583e+05  2017  11418
661       5.218230e+05  2017  11419
667       5.123332e+05  2017  11420
671       5.518666e+05  2017  11421
677       4.892205e+05  2017  11422
683       5.654487e+05  2017  11423
687       5.894582e+05  2017  11426
691       5.442080e+05  2017  11427
700       5.359165e+05  2017  11428
707       4.909490e+05  2017  11429
710       6.953641e+05  2017  11432
716       4.794948e+05  2017  11433
722       4.508955e+05  2017  11434
729       2.487500e+05  2017  11435
734       4.465414e+05  2017  11436
740       4.082167e+05  2017  11691
743       3.914167e+05  2017  11693
746       5.818125e+05  2017  11694

[141 rows x 3 columns]

In [3]:
airbnb17.head()

NameError: name 'airbnb17' is not defined

In [9]:
airbnb17_price = airbnb17[['zipcode','price']].groupby(['zipcode'], as_index=False).agg('mean')

In [10]:
topzip17 = pd.merge(topnorm_17,airbnb17_price,how='left',on='zipcode')
# topzip17 = topzip17.dropna(axis=0,how='any')
topzip17 = topzip17[['zipcode','norm_count','price']]
topzip17.to_csv('topzip17.csv')
topzip17

    zipcode  norm_count       price
0     10018    0.034347  229.126949
1     10012    0.024687  224.851354
2     10036    0.024212  208.302691
3     11222    0.019245  120.881401
4     10014    0.017970  227.079401
5     11238    0.017866  130.694239
6     11211    0.017666  146.601759
7     10019    0.016930  200.083219
8     11216    0.016538  107.068129
9     10001    0.016055  213.537485
10    10006    0.015277  209.171739
11    10009    0.015119  164.783073
12    10003    0.014672  200.157908
13    11221    0.013891   87.205584
14    10011    0.013283  217.563940
15    11237    0.013023   82.392736
16    11206    0.013009   93.275859
17    10004    0.012917  172.789474
18    11205    0.012302  148.141160
19    10002    0.012065  173.957137
20    10013    0.011996  223.137526
21    11217    0.011778  156.930904
22    10005    0.010946  176.275288
23    10031    0.010736   95.760687
24    10026    0.010549  128.584890
25    10027    0.010327  121.080279
26    10030    0.010319  107.621680

In [11]:
topnormprice_17 = topzip17.sort_values(by='price',ascending=False)
topnormprice_17

    zipcode  norm_count       price
0     10018    0.034347  229.126949
4     10014    0.017970  227.079401
1     10012    0.024687  224.851354
20    10013    0.011996  223.137526
14    10011    0.013283  217.563940
9     10001    0.016055  213.537485
10    10006    0.015277  209.171739
2     10036    0.024212  208.302691
12    10003    0.014672  200.157908
7     10019    0.016930  200.083219
22    10005    0.010946  176.275288
19    10002    0.012065  173.957137
17    10004    0.012917  172.789474
11    10009    0.015119  164.783073
21    11217    0.011778  156.930904
18    11205    0.012302  148.141160
6     11211    0.017666  146.601759
5     11238    0.017866  130.694239
24    10026    0.010549  128.584890
25    10027    0.010327  121.080279
3     11222    0.019245  120.881401
26    10030    0.010319  107.621680
8     11216    0.016538  107.068129
23    10031    0.010736   95.760687
16    11206    0.013009   93.275859
13    11221    0.013891   87.205584
15    11237    0.013023   82.392736

In [12]:
sortnorm_17

norm_17 = pd.merge(sortnorm_17,airbnb17_price,how='left',on='zipcode')
# topzip17 = topzip17.dropna(axis=0,how='any')
norm_17 = norm_17[['zipcode','norm_count','price']]
norm_17.to_csv('norm17.csv')
norm_17

     zipcode  norm_count       price
0      10018    0.034347  229.126949
1      10012    0.024687  224.851354
2      10036    0.024212  208.302691
3      11222    0.019245  120.881401
4      10014    0.017970  227.079401
5      11238    0.017866  130.694239
6      11211    0.017666  146.601759
7      10019    0.016930  200.083219
8      11216    0.016538  107.068129
9      10001    0.016055  213.537485
10     10006    0.015277  209.171739
11     10009    0.015119  164.783073
12     10003    0.014672  200.157908
13     11221    0.013891   87.205584
14     10011    0.013283  217.563940
15     11237    0.013023   82.392736
16     11206    0.013009   93.275859
17     10004    0.012917  172.789474
18     11205    0.012302  148.141160
19     10002    0.012065  173.957137
20     10013    0.011996  223.137526
21     11217    0.011778  156.930904
22     10005    0.010946  176.275288
23     10031    0.010736   95.760687
24     10026    0.010549  128.584890
25     10027    0.010327  121.080279
26     10030    0.010319  107.621680
27     11101    0.009681  113.708958
28     11215    0.009471  144.561949
29     10017    0.009225  254.235448
..       ...         ...         ...
142    11204    0.000250   76.666667
143    11214    0.000246   81.357798
144    10475    0.000239   76.632653
145    10468    0.000238   58.867403
146    10472    0.000232   46.038961
147    10458    0.000221   67.306818
148    10460    0.000220   62.714286
149    11423    0.000210   50.047619
150    11428    0.000209   53.275000
151    10466    0.000204   90.746377
152    11427    0.000203   76.375000
153    11414    0.000203   81.981132
154    10459    0.000184   68.850575
155    10457    0.000183   78.240310
156    10470    0.000177   79.481481
157    11363    0.000161   89.666667
158    10306    0.000157   93.840909
159    10307    0.000156  250.954545
160    10465    0.000154   89.769231
161    11426    0.000153   85.555556
162    11004    0.000143   67.200000
163    11420    0.000142   91.507937
164    11362    0.000140   47.500000
165    10308    0.000139   74.578947
166    10302    0.000131  138.000000
167    11694    0.000127  203.846154
168    10312    0.000123   61.041096
169    10314    0.000102   88.505747
170    11357    0.000079  187.064516
171    10309    0.000031  245.000000

[172 rows x 3 columns]