In [1]:
%matplotlib inline

import pandas as pd
import json
import numpy as np
from pandas.io.json import json_normalize
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

In [2]:
#Read in CSV data files

airbnb = pd.read_csv('zip_clean.csv',index_col=0)
bydz_availcount = pd.read_csv('bydz_availcount.csv',header=None)
bydz_availcount.columns=['date_zip','avail_count']
bydzrt_roomcount = pd.read_csv('bydzrt_roomcount.csv',header=None)
bydzrt_roomcount.columns=['date_zip','room_type','date','bydzrt_count']
prr_df = pd.read_csv('prr_df.csv',index_col=0)
mlp_df = pd.read_csv('mlp_df.csv',index_col=0)
air_zillow = pd.read_csv('airzillow_df.csv', index_col=0)

/Users/Administrator/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [5]:
data = pd.read_csv('Gaz_zcta_national.txt', sep="\t")
data.columns = ["zcta", "pop10", "hu10", "aland","awater","aland_sqmi","awater_sqmi","lat","long"]
data.head()

,zcta,pop10,hu10,aland,awater,aland_sqmi,awater_sqmi,lat,long
0,601,18570,7744,166659789,799296,64.348,0.309,18.180555,-66.749961
1,602,41520,18073,79288158,4446273,30.613,1.717,18.362268,-67.176130
2,603,54689,25653,81880442,183425,31.614,0.071,18.455183,-67.119887
3,606,6615,2877,109580061,12487,42.309,0.005,18.158345,-66.932911
4,610,29016,12618,93021467,4172001,35.916,1.611,18.290955,-67.125868

In [3]:
airbnb15 = airbnb.loc[airbnb['year'] == 2015]
airbnb15.to_csv('airbnb15.csv')
airbnb16 = airbnb.loc[airbnb['year'] == 2016]
airbnb16.to_csv('airbnb16.csv')
airbnb17 = airbnb.loc[airbnb['year'] == 2017]
airbnb17.to_csv('airbnb17.csv')

In [55]:
airbnb17_count = airbnb17[['id','date_zip','zipcode','month']].groupby(['date_zip','zipcode','month'], as_index=False).agg('count')
airbnb17_count = pd.merge(airbnb17_count, data[['zcta','pop10','lat','long']],how='left', left_on='zipcode', right_on='zcta')
airbnb17_count = airbnb17_count[['date_zip','zipcode','month','id','pop10','lat','long']]
airbnb17_count = airbnb17_count.rename(columns={'id': 'airbnb_count'})
airbnb17_count['norm_count'] = airbnb17_count['airbnb_count'].div(airbnb17_count['pop10'])
nullpop = airbnb17_count.loc[airbnb17_count['pop10']==0][['date_zip','zipcode','month','airbnb_count','pop10','lat','long']]
nullpop
airbnb17_count = airbnb17_count.loc[airbnb17_count['pop10']!=0]
airbnb17_count
airbnb17_count.to_csv('airbnb17_count.csv')

# print(type(airbnb17_count['zipcode']))
# print(type(data['zcta']))

In [56]:
airbnb17_countavg = airbnb17_count[['zipcode','airbnb_count','pop10','norm_count']].groupby(['zipcode'],as_index=False).agg('mean')
airbnb17_countavg.to_csv('airbnb17_countavg.csv')

In [70]:
sortnorm_17 = airbnb17_countavg.sort_values(by='norm_count',ascending=False)
topnorm_17 = sortnorm_17.loc[sortnorm_17['norm_count']>=0.01]
sortnorm_17

     zipcode  airbnb_count    pop10  norm_count
15     10018    237.500000   5229.0    0.045420
32     10036    766.700000  24711.0    0.031027
10     10012    743.900000  24090.0    0.030880
106    11222   1005.500000  36934.0    0.027224
12     10014    765.900000  31959.0    0.023965
95     11211   2131.400000  90117.0    0.023651
5      10006     70.900000   3011.0    0.023547
121    11238   1144.600000  49262.0    0.023235
16     10019    993.800000  42870.0    0.023182
100    11216   1188.200000  54316.0    0.021876
0      10001    446.800000  21102.0    0.021173
3      10004     63.500000   3089.0    0.020557
7      10009   1185.700000  61347.0    0.019328
2      10003   1075.800000  56024.0    0.019202
105    11221   1441.000000  78895.0    0.018265
120    11237    903.500000  49896.0    0.018108
90     11206   1429.900000  81677.0    0.017507
4      10005    124.500000   7135.0    0.017449
9      10011    866.500000  50984.0    0.016996
11     10013    450.500000  27700.0    0.016264
89     11205    655.400000  40366.0    0.016236
1      10002   1259.500000  81410.0    0.015471
101    11217    536.500000  35881.0    0.014952
27     10031    817.800000  56438.0    0.014490
23     10027    819.300000  59707.0    0.013722
22     10026    463.000000  34003.0    0.013616
14     10017    225.400000  16575.0    0.013599
26     10030    347.200000  26999.0    0.012860
13     10016    673.700000  54183.0    0.012434
99     11215    787.600000  63488.0    0.012405
..       ...           ...      ...         ...
88     11204     28.200000  78134.0    0.000361
71     10468     27.300000  76103.0    0.000359
63     10460     20.500000  57311.0    0.000358
64     10461     17.400000  50502.0    0.000345
165    11433     11.200000  32687.0    0.000343
150    11414      8.900000  26148.0    0.000340
43     10302      6.400000  19088.0    0.000335
78     10475     13.300000  40931.0    0.000325
69     10466     20.600000  67813.0    0.000304
61     10458     23.100000  79492.0    0.000291
60     10457     19.100000  70496.0    0.000271
172    11694      5.500000  20408.0    0.000270
62     10459     12.600000  47308.0    0.000266
47     10306     14.800000  55909.0    0.000265
75     10472     17.400000  66358.0    0.000262
162    11428      4.900000  19168.0    0.000256
48     10307      3.600000  14096.0    0.000255
156    11420     11.300000  44354.0    0.000255
161    11427      6.000000  23593.0    0.000254
160    11426      4.300000  17590.0    0.000244
68     10465      8.700000  42230.0    0.000206
49     10308      5.400000  27357.0    0.000197
53     10314     15.100000  85510.0    0.000177
52     10312      9.700000  59304.0    0.000164
126    11357      6.300000  39150.0    0.000161
131    11363      1.111111   6988.0    0.000159
79     11004      2.200000  14016.0    0.000157
130    11362      2.750000  17823.0    0.000154
122    11239      1.100000  13393.0    0.000082
50     10309      1.000000  32519.0    0.000031

[173 rows x 4 columns]

In [76]:
mlp_avg = mlp_df[['median_list_price','year','zip']].groupby(['zip','year'], as_index=False).agg('mean')
mlp_avg17 = mlp_avg[['median_list_price','year','zip']].loc[mlp_avg['year']==2017]
mlp_avg17

     median_list_price  year    zip
1         3.030000e+06  2017  10001
5         1.588250e+06  2017  10002
8         2.546750e+06  2017  10003
11        1.150167e+06  2017  10004
20        1.439875e+06  2017  10005
23        2.747083e+06  2017  10006
26        4.716831e+06  2017  10007
29        2.424167e+06  2017  10010
34        2.647498e+06  2017  10011
37        4.394583e+06  2017  10012
40        5.145223e+06  2017  10013
43        2.572812e+06  2017  10014
51        1.441167e+06  2017  10016
60        9.860417e+05  2017  10017
63        2.894375e+06  2017  10018
69        1.833241e+06  2017  10019
74        2.035083e+06  2017  10021
81        2.263750e+06  2017  10022
84        2.430000e+06  2017  10023
93        1.423417e+06  2017  10025
98        1.194625e+06  2017  10026
101       8.733542e+05  2017  10027
104       2.283750e+06  2017  10028
108       1.044721e+06  2017  10029
111       7.253750e+05  2017  10030
116       5.621250e+05  2017  10031
121       4.854125e+05  2017  10032
129       5.965000e+05  2017  10033
136       1.615042e+06  2017  10036
140       1.708906e+06  2017  10038
..                 ...   ...    ...
567       4.197787e+05  2017  11373
576       3.549094e+05  2017  11374
584       4.678665e+05  2017  11375
591       4.553750e+05  2017  11377
600       7.514953e+05  2017  11379
606       6.615417e+05  2017  11385
615       4.705899e+05  2017  11411
622       4.799163e+05  2017  11412
629       4.789539e+05  2017  11413
632       4.156666e+05  2017  11414
641       3.140428e+05  2017  11415
648       5.221667e+05  2017  11417
655       5.449583e+05  2017  11418
661       5.218230e+05  2017  11419
667       5.123332e+05  2017  11420
671       5.518666e+05  2017  11421
677       4.892205e+05  2017  11422
683       5.654487e+05  2017  11423
687       5.894582e+05  2017  11426
691       5.442080e+05  2017  11427
700       5.359165e+05  2017  11428
707       4.909490e+05  2017  11429
710       6.953641e+05  2017  11432
716       4.794948e+05  2017  11433
722       4.508955e+05  2017  11434
729       2.487500e+05  2017  11435
734       4.465414e+05  2017  11436
740       4.082167e+05  2017  11691
743       3.914167e+05  2017  11693
746       5.818125e+05  2017  11694

[141 rows x 3 columns]

In [92]:
airbnb17_price = airbnb17[['zipcode','price']].groupby(['zipcode'], as_index=False).agg('mean')

In [93]:
topzip17 = pd.merge(topnorm_17,airbnb17_price,how='left',on='zipcode')
# topzip17 = topzip17.dropna(axis=0,how='any')
topzip17 = topzip17[['zipcode','norm_count','price']]
topzip17.to_csv('topzip17.csv')
topzip17

    zipcode  norm_count       price
0     10018    0.045420  238.534737
1     10036    0.031027  212.927612
2     10012    0.030880  224.182417
3     11222    0.027224  122.862755
4     10014    0.023965  241.244027
5     11211    0.023651  145.238951
6     10006    0.023547  196.968970
7     11238    0.023235  135.176830
8     10019    0.023182  213.625377
9     11216    0.021876  107.288924
10    10001    0.021173  227.335049
11    10004    0.020557  193.137008
12    10009    0.019328  165.624863
13    10003    0.019202  219.645752
14    11221    0.018265   88.523942
15    11237    0.018108   81.391035
16    11206    0.017507   95.371634
17    10005    0.017449  185.094779
18    10011    0.016996  225.136757
19    10013    0.016264  244.102331
20    11205    0.016236  139.971773
21    10002    0.015471  174.004605
22    11217    0.014952  163.682945
23    10031    0.014490   95.335045
24    10027    0.013722  135.438911
25    10026    0.013616  130.919006
26    10017    0.013599  263.463177
27    10030    0.012860  111.010945
28    10016    0.012434  212.453318
29    11215    0.012405  144.558913
30    11101    0.011964  112.681535
31    11225    0.010637   94.717452
32    10010    0.010555  222.404464
33    11231    0.010085  186.941701
34    10025    0.010006  164.281006

In [94]:
topnormprice_17 = topzip17.sort_values(by='price',ascending=False)
topnormprice_17

    zipcode  norm_count       price
26    10017    0.013599  263.463177
19    10013    0.016264  244.102331
4     10014    0.023965  241.244027
0     10018    0.045420  238.534737
10    10001    0.021173  227.335049
18    10011    0.016996  225.136757
2     10012    0.030880  224.182417
32    10010    0.010555  222.404464
13    10003    0.019202  219.645752
8     10019    0.023182  213.625377
1     10036    0.031027  212.927612
28    10016    0.012434  212.453318
6     10006    0.023547  196.968970
11    10004    0.020557  193.137008
33    11231    0.010085  186.941701
17    10005    0.017449  185.094779
21    10002    0.015471  174.004605
12    10009    0.019328  165.624863
34    10025    0.010006  164.281006
22    11217    0.014952  163.682945
5     11211    0.023651  145.238951
29    11215    0.012405  144.558913
20    11205    0.016236  139.971773
24    10027    0.013722  135.438911
7     11238    0.023235  135.176830
25    10026    0.013616  130.919006
3     11222    0.027224  122.862755
30    11101    0.011964  112.681535
27    10030    0.012860  111.010945
9     11216    0.021876  107.288924
16    11206    0.017507   95.371634
23    10031    0.014490   95.335045
31    11225    0.010637   94.717452
14    11221    0.018265   88.523942
15    11237    0.018108   81.391035

In [96]:
sortnorm_17

norm_17 = pd.merge(sortnorm_17,airbnb17_price,how='left',on='zipcode')
# topzip17 = topzip17.dropna(axis=0,how='any')
norm_17 = norm_17[['zipcode','norm_count','price']]
norm_17.to_csv('norm17.csv')
norm_17

     zipcode  norm_count       price
0      10018    0.045420  238.534737
1      10036    0.031027  212.927612
2      10012    0.030880  224.182417
3      11222    0.027224  122.862755
4      10014    0.023965  241.244027
5      11211    0.023651  145.238951
6      10006    0.023547  196.968970
7      11238    0.023235  135.176830
8      10019    0.023182  213.625377
9      11216    0.021876  107.288924
10     10001    0.021173  227.335049
11     10004    0.020557  193.137008
12     10009    0.019328  165.624863
13     10003    0.019202  219.645752
14     11221    0.018265   88.523942
15     11237    0.018108   81.391035
16     11206    0.017507   95.371634
17     10005    0.017449  185.094779
18     10011    0.016996  225.136757
19     10013    0.016264  244.102331
20     11205    0.016236  139.971773
21     10002    0.015471  174.004605
22     11217    0.014952  163.682945
23     10031    0.014490   95.335045
24     10027    0.013722  135.438911
25     10026    0.013616  130.919006
26     10017    0.013599  263.463177
27     10030    0.012860  111.010945
28     10016    0.012434  212.453318
29     11215    0.012405  144.558913
..       ...         ...         ...
143    11204    0.000361  210.322695
144    10468    0.000359   67.227106
145    10460    0.000358  148.268293
146    10461    0.000345   69.735632
147    11433    0.000343   85.946429
148    11414    0.000340   99.887640
149    10302    0.000335  348.218750
150    10475    0.000325   99.135338
151    10466    0.000304  100.839806
152    10458    0.000291   69.740260
153    10457    0.000271   77.518325
154    11694    0.000270  160.672727
155    10459    0.000266   68.865079
156    10306    0.000265   85.168919
157    10472    0.000262   47.954023
158    11428    0.000256   54.040816
159    10307    0.000255  213.222222
160    11420    0.000255  107.159292
161    11427    0.000254   85.616667
162    11426    0.000244   75.813953
163    10465    0.000206  109.505747
164    10308    0.000197   81.907407
165    10314    0.000177  100.920530
166    10312    0.000164  135.680412
167    11357    0.000161  133.206349
168    11363    0.000159  580.700000
169    11004    0.000157   65.954545
170    11362    0.000154   68.454545
171    11239    0.000082   86.363636
172    10309    0.000031  245.000000

[173 rows x 3 columns]