# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

<div class="span5 alert alert-info">
### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value. Try using both the bootstrapping and the frequentist statistical approaches.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
+ Formulas for the Bernoulli distribution: https://en.wikipedia.org/wiki/Bernoulli_distribution
</div>
****

In [15]:
import pandas as pd
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt

In [3]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [17]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [5]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

<div class="span5 alert alert-success">
<p>Since we are dealing with categorical data and want to know whether the category is independent of the result (the call back), a Chi-squared test of independence is appropriate to use. The central limit theorem does apply as the sample sizes are greater than 30. For this situation, the null hypothesis is that the call back rate is the same regardless of assumed race, while the alternative hypothesis is that the assumed race has some sort of influence on call backs.</p>
</div>

In [18]:
w = data[data.race=='w']
b = data[data.race=='b']

In [19]:
# number of callbacks for white-sounding names
sum(data[data.race=='w'].call)

235.0

# Frequentist Testing

In [31]:
# Your solution to Q3 here

app_tab = pd.crosstab(data.race, data.call, margins = True)

app_tab.columns = ["0","1","row_totals"]

app_tab.index = ["b","w","col_totals"]

observed = app_tab.iloc[0:2,0:2]   # Get table without totals for later use
app_tab

               0    1  row_totals
b           2278  157        2435
w           2200  235        2435
col_totals  4478  392        4870

In [32]:
expected =  np.outer(app_tab["row_totals"][0:2],
                     app_tab.loc["col_totals"][0:2]) / 4870

expected = pd.DataFrame(expected)

expected.columns = ["0","1"]
expected.index = ["b","w"]

expected

        0      1
b  2239.0  196.0
w  2239.0  196.0

In [30]:
chi_squared_stat = (((observed-expected)**2)/expected).sum().sum()

print(chi_squared_stat)

16.87905041427022

In [33]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 8)   # *

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=1)
print("P value")
print(p_value)

Critical value
15.50731305586545
P value
3.983886837588546e-05

In [34]:
stats.chi2_contingency(observed= observed)

(16.44902858418937, 4.997578389963255e-05, 1, array([[2239.,  196.],
        [2239.,  196.]]))

# Bootstrapping

In [41]:
def bootstrap_replicate_1d(data, func):
    return func(np.random.choice(data, size=len(data)))

def draw_bs_reps(data, func, size=1):
    """Draw bootstrap replicates."""

    # Initialize array of replicates: bs_replicates
    bs_replicates = np.empty(size)

    # Generate replicates
    for i in range(size):
        bs_replicates[i] = bootstrap_replicate_1d(data, func)

    return bs_replicates

In [53]:
x=data.race
y=data.call

# Set up array of indices to sample from: inds
inds = np.arange(len(x))

    # Generate replicates
for i in range(10000):
    bs_inds = np.random.choice(inds, size=len(inds))
    bs_x, bs_y = x[bs_inds], y[bs_inds]

In [48]:
app_tab = pd.crosstab(bs_x, bs_y, margins = True)

app_tab.columns = ["0","1","row_totals"]

app_tab.index = ["b","w","col_totals"]

observed = app_tab.iloc[0:2,0:2]   # Get table without totals for later use
app_tab

               0    1  row_totals
b           2296  169        2465
w           2178  227        2405
col_totals  4474  396        4870

In [49]:
expected =  np.outer(app_tab["row_totals"][0:2],
                     app_tab.loc["col_totals"][0:2]) / 4870

expected = pd.DataFrame(expected)

expected.columns = ["0","1"]
expected.index = ["b","w"]

expected

             0           1
b  2264.560575  200.439425
w  2209.439425  195.560575

In [50]:
chi_squared_stat = (((observed-expected)**2)/expected).sum().sum()

print(chi_squared_stat)

10.869583526326421

In [51]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 8)   # *

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=1)
print("P value")
print(p_value)

Critical value
15.50731305586545
P value
0.0009775651069285907

<div class="span5 alert alert-success">
<p> Given that p-value is less than 0.05, the assumed race from an applicant's name does affect whether they are called for an interview. While the assumed race is shown to be a statistically significant factor, there are still other variables that weren't considered in the scope of this analysis. This specific analysis is looking at whether the assumed racial identity from a name affects callback success but it not indicative of callback success in general. Generalizing the rate of callback would require checking for statistical significance of other variables such as years of job experience, education, etc.     </p>
</div>